footer{
    width: 100%;
    height: auto;
    bottom: 0;
    background-color: #5B605B;
    color: white;
    display: flex;
    justify-content: right;
}
#logo-white{
    width: 100px;
    height: 100px;
    margin-top: 1rem;
}
.en-medio{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.redes-sociales{
    margin: 1rem 2rem 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.iconos{
    text-align: center;
}
.icono{
    width: 2rem;
    margin: .7rem;
}
.icono img{
    width: 100%;
}
@media only screen and (max-width: 768px){
    footer{
      flex-direction: column;
    }
    .redes-sociales{
        margin: 0;
        text-align: center;
    }
}