<footer>
    <div class="en-medio">
        <div class="logo">
            <img id="logo-white" src="../assets/img/logo-white.png" alt="">
        </div>
        <p>2021, Derechos reservados</p>
    </div>
    <div class="redes-sociales">
        <div class="iconos">
            <a href="https://facebook.com">
                <img class="icono" src="../assets/icons/facebook-wh.png" alt="Fb">
            </a>
            <a href="https://instagram.com">
                <img class="icono" src="../assets/icons/instagram-wh.png" alt="Ins">
            </a>
            <a href="https://twitter.com">
                <img class="icono" src="../assets/icons/twitter-wh.png" alt="Tw">
            </a>
        </div>
        <p>¡Visita nuestras redes sociales!</p>
    </div>
</footer>