#map{
    height: 600px;
}
.info-covid{
    display: flex;
    flex-wrap: wrap;
}
.cuadro-info{
    flex-basis: calc(100% / 4);
    background-color: #e3e3e3;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 5px solid green;
    margin: 10px;
    padding: 5px;
    
}
@media only screen and (max-width: 1200px){
    .cuadro-info{
        flex-basis: calc(100% / 3);
    }
}
@media only screen and (max-width: 576px){
    .cuadro-info{
        flex-basis: 100%;
    }
}
.cifra{
    font-size: 22px;
    text-align: right;
    margin-right: 15px;
}

.container-map {
    margin: 10px 20px
}

img {
    margin: 20px 20px;
    margin-left: 60px;
    height: 300px;
    width: 300px;
}

.main-container {
    margin: 20px 0px;
    height: 600px;
}

#casos-hoy{
    border-color: #E94A4A;
}
#casos-activos{
    border-color: #7BD5F5;
}
#def-hoy{
    border-color: #5B605B;
}
#casos-totales{
    border-color: #D0F53D;
}
#recuperados{
    border-color: #55E94A;
}
#def-totales{
    border-color: #2A93D5;
}