<div *ngIf="loading" class="load">
  <div class="row justify-content-center">
    <div class="col-1 align-self-center">
      <app-radar-spinner
        [animationDuration]="1000"
        [size]="150"
        [color]="'#51D5EA'"
      ></app-radar-spinner>
    </div>
  </div>
</div>

<div *ngIf="!loading" class="row gap-3 fluid-container">
  <!-- inicia contenedor de todo -->

  <div class="main-container">
    <div class="row align-self-center">
      <div class="col-4">
        <div class="container-map">
          <div class="mapa">
            <img src="../../../assets/img/countries/{{country}}.png" alt="Mapa paises" />
          </div>
        </div>
      </div>

      <div class="col-8">
        <!-- inicio columna derecha -->

        <div class="col-lg container">
          <!-- inicio info-covid -->
          <div class="row fluid-container">
            <div class="container">
              <!-- inicio contenedor cuadros info -->
              <h1>{{ Constants.covid.info }} COVID-19</h1>
              <div class="info-covid">
                <div class="col cuadro-info" id="casos-hoy">
                  <h5>{{ Constants.covid.thToday }}</h5>
                  <p class="cifra">{{ todayCases.data | number | noData }}</p>
                </div>
                <div class="col cuadro-info" id="casos-activos">
                  <h5>{{ Constants.covid.activeCases }}</h5>
                  <p class="cifra">{{ activeCases.data | number | noData }}</p>
                </div>
                <div class="col cuadro-info" id="def-hoy">
                  <h5>{{ Constants.covid.deathToday }}</h5>
                  <p class="cifra">{{ todayDeaths.data | number | noData }}</p>
                </div>
                <div class="col cuadro-info" id="casos-totales">
                  <h5>{{ Constants.covid.totalCases }}</h5>
                  <p class="cifra">{{ cases.data | number | noData }}</p>
                </div>
                <div class="col cuadro-info" id="recuperados">
                  <h5>{{ Constants.covid.recovered }}</h5>
                  <p class="cifra">{{ recoveredCases.data | number | noData }}</p>
                </div>
                <div class="col cuadro-info" id="def-totales">
                  <h5>{{ Constants.covid.totalDeaths }}</h5>
                  <p class="cifra">{{ totalDeaths.data | number | noData }}</p>
                </div>
                <div class="col cuadro-info" id="pruebas-totales">
                  <h5>{{ Constants.covid.totalTests }}</h5>
                  <p class="cifra">{{ testTotals.data | number | noData }}</p>
                </div>
              </div>
            </div>
            <!-- fin contenedor cuadros info -->
          </div>
          <!-- fin info-covid -->
        </div>
        <!-- fin columna derecha -->
      </div>
    </div>
  </div>

  <!-- fin contenedor de todo -->
</div>
