.contenedor-todo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}
.contenedor-img-pais{
    flex-basis: 30%;
    text-align: center;
}
@media only screen and (max-width: 992px){
    .contenedor-img-pais{
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.contenedor-info-covid{
    flex-basis: 70%;
}
@media only screen and (max-width: 992px){
    .contenedor-info-covid{
        flex-basis: 100%;
    }
}
/* IMG PAIS */
img {
    width: 100%;
}
@media only screen and (max-width: 992px){
    .img-pais{
        width: 15rem;
    }
}
.contenedor1{
    text-align: center;
}
.info-covid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cuadro-info{
    flex-basis: calc(100% / 4);
    background-color: #e3e3e3;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 5px solid green;
    margin: 10px;
    padding: 5px;
    
}
@media only screen and (max-width: 1200px){
    .cuadro-info{
        flex-basis: calc(100% / 3);
    }
}
@media only screen and (max-width: 576px){
    .cuadro-info{
        flex-basis: 100%;
    }
}
.cifra{
    font-size: 22px;
    text-align: right;
    margin-right: 15px;
}

.container-map {
    margin: 10px 20px
}

.name-map {
    margin-left: 100px;
}



.main-container {
    margin: 20px 0px;
    height: 600px;
}

#casos-hoy{
    border-color: #E94A4A;
}
#casos-activos{
    border-color: #7BD5F5;
}
#def-hoy{
    border-color: #5B605B;
}
#casos-totales{
    border-color: #D0F53D;
}
#recuperados{
    border-color: #55E94A;
}
#def-totales{
    border-color: #2A93D5;
}