<div *ngIf="loading" class="load">
  <div class="row justify-content-center">
    <div class="col-1 align-self-center">
      <app-radar-spinner
        [animationDuration]="1000"
        [size]="150"
        [color]="'#51D5EA'"
      ></app-radar-spinner>
    </div>
  </div>
</div>

<div *ngIf="!loading" class="row gap-3 fluid-container">
  <!-- inicia contenedor de todo -->

  <div class="contenedor-todo">

      <div class="contenedor-img-pais">
          <h2>{{ countrySelected.name }}</h2>
          <div class="img-pais">
            <img src="../../../assets/img/countries/{{country}}.png" alt="Img pais" />
          </div>
      </div>

      <div class="contenedor-info-covid">
        <!-- inicio columna derecha -->
          <!-- inicio info-covid -->
            <div class="contenedor1">
              <!-- inicio contenedor cuadros info -->
              <h2>{{ Constants.covid.info }} COVID-19</h2>
              <div class="info-covid">
                <div class="cuadro-info" id="casos-hoy">
                  <h5>{{ Constants.covid.thToday }}</h5>
                  <p class="cifra">{{ todayCases.data | number | noData }}</p>
                </div>
                <div class="cuadro-info" id="casos-activos">
                  <h5>{{ Constants.covid.activeCases }}</h5>
                  <p class="cifra">{{ activeCases.data | number | noData }}</p>
                </div>
                <div class="cuadro-info" id="def-hoy">
                  <h5>{{ Constants.covid.deathToday }}</h5>
                  <p class="cifra">{{ todayDeaths.data | number | noData }}</p>
                </div>
                <div class="cuadro-info" id="casos-totales">
                  <h5>{{ Constants.covid.totalCases }}</h5>
                  <p class="cifra">{{ cases.data | number | noData }}</p>
                </div>
                <div class="cuadro-info" id="recuperados">
                  <h5>{{ Constants.covid.recovered }}</h5>
                  <p class="cifra">{{ recoveredCases.data | number | noData }}</p>
                </div>
                <div class="cuadro-info" id="def-totales">
                  <h5>{{ Constants.covid.totalDeaths }}</h5>
                  <p class="cifra">{{ totalDeaths.data | number | noData }}</p>
                </div>
                <div class="cuadro-info" id="pruebas-totales">
                  <h5>{{ Constants.covid.totalTests }}</h5>
                  <p class="cifra">{{ testTotals.data | number | noData }}</p>
                </div>
              </div>
            </div>
            <!-- fin contenedor cuadros info -->
          
          <!-- fin info-covid -->
        
        <!-- fin columna derecha -->
      </div>
    </div>

  <!-- fin contenedor de todo -->
</div>
