<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section
  id="wrapper"
  class="login-register login-sidebar"
  style="background-image: url(../assets/img/login-{{loginImage}}.jpg)"
>
  <div class="login-box card">
    <div class="card-body">
      <form
        class="form-horizontal form-material"
        id="loginform"
        autocomplete="off"
        [formGroup]="registerForm"
        (ngSubmit)="createUser()"
      >
        <h3 class="box-title m-t-40 m-b-0">Registrarte</h3>
        <small>Crea tu cuenta para empezar a conocer el mundo</small>
        <div class="form-group m-t-20">
          <div class="col-xs-12 mt-3">
            <input
              class="form-control"
              type="text"
              placeholder="Nombre"
              formControlName="name"
            />
          </div>
        </div>
        <div class="form-group mt-3">
          <div class="col-xs-12">
            <input
              class="form-control"
              type="text"
              placeholder="Email"
              formControlName="email"
            />
          </div>
        </div>
        <div class="form-group mt-3">
          <div class="col-xs-12">
            <input
              class="form-control"
              type="password"
              placeholder="Contraseña"
              formControlName="password"
            />
          </div>
        </div>
        <div class="form-group mt-3">
          <div class="col-xs-12">
            <input
              class="form-control"
              type="password"
              placeholder="Confirmar contraseña"
              formControlName="password2"
            />
          </div>
        </div>
        <div class="form-group mt-3">
            <div class="col-xs-12">
              <input
                class="form-control"
                type="text"
                placeholder="Pais"
                formControlName="country"
              />
            </div>
          </div>
          <div class="form-group mt-3">
            <div class="col-xs-12">
              <input
                class="form-control"
                type="text"
                placeholder="Zona horaria"
                formControlName="timeZone"
              />
            </div>
          </div>
          <div class="form-group mt-3">
            <div class="col-xs-12">
              <input
                class="form-control"
                type="text"
                placeholder="Idioma"
                formControlName="language"
              />
            </div>
          </div>

        <div class="row">
          <div class="col text-danger">
            <p *ngIf="notValidField('name')">El nombre es obligatorio</p>
            <p *ngIf="notValidField('email')">
              El email es obligatorio y tiene que ser valido
            </p>
            <p *ngIf="notValidPass()">Las contraseñas deben de ser iguales</p>
          </div>
        </div>

        <div class="form-group text-center m-t-20">
          <div class="col-xs-12 mt-3">
            <button
              class="
                btn btn-info btn-lg btn-block
                text-uppercase
                waves-effect waves-light
              "
              type="submit"
            >
              Crear cuenta
            </button>
          </div>
        </div>
        <div class="form-group m-b-0 mt-3">
          <div class="col-sm-12 text-center">
            <p>
              ¿Ya tienes una cuenta?
              <a routerLink="/login" class="text-info m-l-5">
                <button class="btn btn-info btn-rounded" (click)="login()">
                  Iniciar sesión
                </button></a
              >
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
