<div class="container">

    <div>
        <div>
            <h3>Acerca de Dataworld</h3>
            <p>Desde que en marzo del 2020 la epidemia de Covid-19 se hiciera global, estar informado de lo que sucede
                en el momento empezó a ser una necsidad, como sociedad nos dimos cuenta de que es importante conocer el
                estado actual del mundo.</p>
            <p>Dataworld es una aplicación web que recopila información importante y concisa de los temas principales
                que deben ser conocidos. Todo con base en fuentes confiables de información:</p>
            <ul>
                <li>Clima y pronósticos: <a href="" target="_blank">API Clima</a></li>
                <li>Información actual del Covid-19: <a href="" target="_blank">API Covid</a></li>
                <li>Últimas noticas referentes a ciencia, tecnología y salud: <a href="" target="_blank">API Noticias</a></li>
            </ul>
        </div>
        <div></div>
    </div>

    <div class="noticia shadow" style="border-color: #55E94A;">
        <div class="imagen-noticia">
            <img src="./assets/img/datamind.png" alt="Imagen de gráficas">
        </div>
        <div class="texto-noticia">
            <p class="titulo-noticia">Un proyecto de DataMind</p>
            <p>Dataworld es la primera aplicación desarrollada por DataMind.</p>
            <p>DataMind es una empresa dedicada a brindar soluciones digitales mediante software de calidad, para la
                mejora de procesos y toma de decisiones, proporcionando una operación más segura, productiva y medible
                para los clientes.</p>
            <p>¿Quieres saber más de DataMind?</p>
            <a href="https://616dfefa9528b.site123.me" target="_blank">
                <p>Visita la página oficial de la empresa.</p>
            </a>
        </div>
    </div>
</div>