.navbar-brand img{
    min-width: 210px;
}
#navbarNav{
    justify-content: right;
}
.nav-link{
    font-weight: 600;
}
.icono img{
    width: 2rem;
}

.seleccionar-pais{
    display: flex;
}

.seleccionar-pais .icono img{
    width: 100%;
}
.seleccionar-pais .icono{
    width: 2.8rem;
}
select{
    margin: .5rem 0px;
    width: 0;
    transition: 1s;
    border: none;
}
.activar-select{
    width: 10rem;
    border: 1px solid #5B605B;
    border-radius: 3px;
}
@media only screen and (max-width: 991px){
    .seleccionar-pais .icono{
        display: none;
    }
    select{
        margin: 0;
        width: 100%;
        border: 1px solid #5B605B;
        border-radius: 3px;
    }
  }
.main-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}