<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="./assets/img/logo-header.png" alt="DATAWORLD" width="100%" height="70rem">
        </a>
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <!-- active -->
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" aria-current="page" [routerLink]="['dashboard']">Inicio</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" aria-current="page" [routerLink]="['clima']">Clima</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" aria-current="page" [routerLink]="['salud']">Salud</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" aria-current="page" [routerLink]="['noticias']">Noticias</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" aria-current="page" [routerLink]="['nosotros']">Sobre nosotros</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" aria-current="page" [routerLink]="['contacto']">Contacto</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" aria-current="page" [routerLink]="['login']">Login</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>

  <!-- <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="./assets/img/logo-header.png" alt="no era así :(" width="30" height="24">
      </a>
    </div>
  </nav> -->