#contenedorTodo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.arriba{
    flex-basis: calc( (100% / 3) - 30px);
    cursor: pointer;
}
.abajo{
    flex-basis: 100%;
    order: 1;
}
#temperaturaActual{
    border-radius: 20px;
    padding: 1rem 2rem;
    background-repeat: no-repeat;
    background-position:  top center;
    background-size: cover;
    background-attachment: fixed;
    margin: 5px;
}
@media only screen and (max-width: 992px){
    .arriba{
        flex-basis: calc((100% / 2) - 30px);
    }
}
@media only screen and (max-width: 700px){
    .arriba{
        flex-basis: 100%;
    }
}
/* GLOBALES */
#proximasHoras, #proximosDias, #condicionesAd{
    background-color: #e0e0e0;
    margin: 1rem;
    padding: 1rem 2rem;
    border-left: 5px solid #55E94A;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#proximasHoras{
    border-color: #55E94A;
}
#proximosDias{
    border-color: #D0F53D;
}
#condicionesAd{
    border-color: #69B6D0;
}
.icono{
    width: 6rem;
}
.icono img{
    width: 100%;
}
.contenedor-columnas{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
.info-columna{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.flecha{
    width: 100%;
    text-align: center;
}
.flecha img{
    height: 2rem;
    width: auto;
}
/* TEMP ACTUAL */
.temp-actual{
    font-size: 45px;
    font-weight: 900;
}
.ciudad-actual{
    font-size: 1.3rem;
    font-weight: 600;
}
@media only screen and (max-width: 768px){
    .contenedorTempAct{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .temp-actual{
        justify-content: center;
    }
    .ciudad-actual{
        justify-content: center;
    }
}

/* PROXIMAS HORAS */
.columna{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}
.columna .icono{
    width: 4rem;
}
/* PRÓXIMOS DÍAS */

@media only screen and (max-width: 1200px){
    .contenedor-columnas .columna{
        flex-basis: calc(100%/2);
    }
}

/* CONDICIONES ADICIONALES */
.condAd{
    text-align: center;
    align-items: center;
}
.condAd.icono{
    width: 100%;
}
/* GLOBALES


.ampliar{
    /* background-color: red;
    width: 100%;
    height: auto;
    text-align: center;
    border: none;
    background-color: transparent;
}
.ampliar img{
    width: 2.5rem;
}
/* MODULO CLIMA
.contenedor-clima{
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: repeat(3, auto);
    padding: 1rem;
    /* margin-left: 10rem;
    /* height: 80%;
}
@media only screen and (max-width: 1260px){
    .contenedor-clima{
        grid-template-rows: repeat(3, auto);
        grid-template-rows: 15% 15% 70%;
    }
}
@media only screen and (max-width: 600px){
    .contenedor-clima{
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(4, auto);
    }
}
.temp-actual-small{
    grid-column: 1;
    grid-row: 1;
    margin: 1rem;
    border-radius: 20px;
    padding: 1rem 2rem;
    background-repeat: no-repeat;
    background-position:  top center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
@media only screen and (max-width: 1260px){
    .temp-actual-small{
        grid-row-start: 1;
        grid-row-end: 3;
        flex-direction: column;
        justify-content: center;
    }
}
@media only screen and (max-width: 600px){
    .temp-actual-small{
        grid-column: 1;
        grid-row: 1;
    }
}
.ciudad-actual{
    font-size: 1.3rem;
    font-weight: 600;
    /* text-shadow: ;
}
.temp-actual{
    font-size: 45px;
    font-weight: 900;
}
/* .icono-temp{
    width: 5rem;
}
.icono-temp img{
    width: 100%;
}
/* en las próximas horas
.clima-horas{
    grid-column: 2;
    grid-row: 1;
}
@media only screen and (max-width: 1260px){
    .clima-horas{
        grid-row: 1;
        grid-column-start: 2;
        grid-column-end: 4;
    }
}
@media only screen and (max-width: 600px){
    .clima-horas{
        grid-column: 1;
        grid-row: 2;
    }
}
.por-columna{
    width: 100%;
    display: flex;
    justify-content: none;
    align-items: center;
}
@media only screen and (max-width: 1260px){
    .por-columna{
        justify-content: center;
    }
}
.columna{
    min-width: 7rem;
}
/* en los próximos días
.clima-dias{
    grid-column: 3;
    grid-row: 1;
    border-color: #D0F53D;
}
@media only screen and (max-width: 1260px){
    .clima-dias{
        grid-row: 2;
        grid-column-start: 2;
        grid-column-end: 4;
    }
}
@media only screen and (max-width: 600px){
    .clima-dias{
        grid-column: 1;
        grid-row: 3;
    }
}
/* condiciones adicionales
.condiciones-adicionales{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    border-color: #69B6D0;
}
@media only screen and (max-width: 1260px){
    .condiciones-adicionales{
        grid-row: 3;
    }
}
@media only screen and (max-width: 600px){
    .condiciones-adicionales{
        grid-column: 1;
        grid-row: 4;
    }
}
#condAd{
    border-color: #69B6D0;
}
.contenedor-cond-ad{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 5rem);
}
@media only screen and (max-width: 850px){
    .contenedor-cond-ad{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(9, 1fr);
    }
}
@media only screen and (max-width: 600px){
    .contenedor-cond-ad{
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(18, auto);
    }
}
.cond-ad{
    /* background-color: red;
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    align-items: center;
    border-top: 1px solid #5B605B;
    text-align: center;
}
#condAdSmall .cond-ad{
    border: none;
} 
.icono-cond-ad{
    grid-column: 1;
    width: 2.5rem;
}
.icono-cond-ad img{
    width: 100%;
}
.cond-ad p:first-child{
    grid-column: 2;
}
.cond-ad p:last-child{
    grid-column: 3;
}
/* AMPLIACIONES
.ampliar-horas{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    overflow-x: scroll;
    /* max-width: 53rem;
}
.ampliar-dias{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    overflow-x: scroll;
    /* max-width: 53rem;
}
.contenedor-horas-small{
    grid-column: 1;
    grid-row: 2;
}
.contenedor-dias-small{
    grid-column: 1;
    grid-row: 2;
}
.contenedor-small .por-columna{
    min-width: 100%;
}
.contenedor-small .por-columna .columna{
    min-width: 1rem;
}
.condicion-adicional-small{

    /* grid-column: 1;
    grid-row: 3;
    height: auto;
    overflow: hidden;
}
.contenedor-cond-ad-small{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.contenedor-cond-ad-small button{
    grid-column: 2;
}
.cond-ad-small{
    border: none;
    width: auto;
    /* background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cond-ad-small .condicion{
    /* visibility: hidden;
    display: none;
}
.info-columna{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.icono-columna{
    width: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icono-columna img{
    width: 100%;
}
.esconder{
    display: none;
}*/