<div *ngIf="loading" class="load">
    <div class="row justify-content-center">
      <div class="col-1 align-self-center">
        <app-radar-spinner
          [animationDuration]="1000"
          [size]="150"
          [color]="'#51D5EA'"
        ></app-radar-spinner>
      </div>
    </div>
</div>

<div *ngIf="!loading">
    <!-- contenedor de todo -->
    <div id="contenedorTodo" class="fluid-container">

        <!-- temperatura actual -->
        <div id="temperaturaActual" class="container arriba contenedor-info-clima shadow"style="
        background-image: url('../assets/img/{{dayImage}}.jpg');">
            <div class="tempActIcon">
                <div class="icono">
                    <img src="../assets/icons/{{ weather.weather[0].description}}.png" alt="icono">
                </div>
            </div>
            <div class="tempActText">
                <p class=" justify-content-md-center temp-actual"
                    style="color: {{text_color}};">
                    {{ weather.main.temp | round | noData: '°'}}
                </p>
                <p class=" ciudad-actual"
                    style="color: {{text_color}};">
                    {{ weather.name | noData}}, {{weather.sys.country | noData}}
                </p>
            </div>
        </div>

        <!-- proximas horas -->
        <div id="proximasHoras" class="container arriba shadow" (click)="bajar('proximasHoras','proximosDias','condicionesAd')">
            <div class="container">
                <h3>En las próximas horas</h3>
                <div class="fluid-container ">
                    <!-- automatizar esto para que me traiga las próximas 3 horas -->
                    <div class="contenedor-columnas">
                        <div  *ngFor="let hora of weather5.list; let i = index">
                            <div *ngIf="i < cantHoras" class="columna">
                                <div class="icono">
                                    <img src="../assets/icons/{{hora.weather[0].description}}.png" alt="Ícono">
                                </div>
                                <p class="hora">{{hora.dt_txt | date : 'shortTime'}}</p>
                                <!-- este panel muestra la info adicional que solo se muestra cuando está abajo -->
                                <div *ngIf="mostrarInfoHoras" class="info-columna">
                                    <hr>
                                    <!-- temperatura minima -->
                                    <div class="icono">
                                        <img src="../assets/icons/temp_min.png" alt="icono">
                                    </div>
                                    <p>Temperatura mínima</p>
                                    <p>{{hora.main.temp_min | noData: '°'}}</p>
                                    <!-- temperatura minima -->
                                    <div class="icono">
                                        <img src="../assets/icons/temp_max.png" alt="icono">
                                    </div>
                                    <p>Temperatura máxima</p>
                                    <p>{{hora.main.temp_max | noData: '°'}}</p>
                                    <!-- temperatura minima -->
                                    <div class="icono">
                                        <img src="../assets/icons/speed.png" alt="icono">
                                    </div>
                                    <p>Velocidad del viento</p>
                                    <p>{{hora.main.speed | noData: 'km/h'}}</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div *ngIf="!mostrarInfoHoras"class="icono flecha">
                <img src="../assets/img/swipe-down-lightmode.gif" alt="Ampliar">
            </div> 
        </div>
        
        <!-- proximos dias -->
        <div id="proximosDias" class="container arriba shadow" (click)="bajar('proximosDias','proximasHoras','condicionesAd')">
            <div class="container">
                <h3>En los próximos días</h3>
                <div class="row fluid-container">
                    <!-- automatizado -->
                    <div class="contenedor-columnas">
                        <div *ngFor="let dia of proxDias; let i = index">
                            <div *ngIf="i < cantDias" class="columna">
                                <div class="icono">
                                    <img src="../assets/icons/{{dia.descripcion}}.png" alt="icono">
                                </div>
                                <p class="dia">{{dia.dia}}</p>
                                <div *ngIf="mostrarInfoDias == true" class="info-columna">
                                    <hr>
                                    <!-- temperatura minima -->
                                    <div class="icono">
                                        <img src="../assets/icons/temp_min.png" alt="icono">
                                    </div>
                                    <p>Temperatura mínima</p>
                                    <p>{{dia.temp_min | noData: '°'}}</p>
                                    <!-- temperatura minima -->
                                    <div class="icono">
                                        <img src="../assets/icons/temp_max.png" alt="icono">
                                    </div>
                                    <p>Temperatura máxima</p>
                                    <p>{{dia.temp_max | noData: '°'}}</p>
                                    <!-- temperatura minima -->
                                    <div class="icono">
                                        <img src="../assets/icons/speed.png" alt="icono">
                                    </div>
                                    <p>Velocidad del viento</p>
                                    <p>{{dia.speed | noData: 'km/h'}}</p>
                                </div>
                                
                            </div>
                        </div>
                        <div *ngIf="!mostrarInfoDias"class="icono flecha">
                            <img src="../assets/img/swipe-down-lightmode.gif" alt="Ampliar">
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <!-- condiciones adicionales -->
        <div id="condicionesAd" class="container abajo shadow" (click)="bajar('condicionesAd','proximasHoras','proximosDias')">
            
            <h3>Condiciones adicionales</h3>
            <div  class="fluid-container contenedorCondAd" >

                <!-- condicion adicional automatizado-->
                <div *ngFor="let clima of datosClimaHoy; let i = index" class="cond-ad" >
                    <!-- solo mostrar 3 condad si está arriba -->
                    <div *ngIf="i <= 2 && !mostrarInfoCondAd" class="condAd">

                        <div class="icono">
                            <img src="../assets/icons/{{clima.icon}}.png" alt="temp_min">
                        </div>
                        <p class="condicion">{{clima.title}}</p>
                        <p *ngIf="clima.property != 'sunset' && clima.property != 'sunrise' && clima.property != 'timezone' " class="valor">{{clima.value}}</p>
                        <p *ngIf="clima.property == 'sunset' || clima.property == 'sunrise' " class="valor">{{clima.value | date : 'shortTime'}}</p>
                        <p *ngIf="clima.property == 'timezone' " class="valor">{{clima.value | date: 'z'}}</p>
                    </div>

                    <!-- si está abajo, mostrar todas -->
                    <div *ngIf="mostrarInfoCondAd" class="condAd">

                    <!-- condicion adicional -->
                    <div class="condAd">
                        <div class="icono">
                            <img src="../assets/icons/{{clima.icon}}.png" alt="temp_min">
                        </div>
                        <p class="condicion">{{clima.title}}</p>
                        <p *ngIf="clima.property != 'sunset' && clima.property != 'sunrise' && clima.property != 'timezone' " class="valor">{{clima.value}}</p>
                        <p *ngIf="clima.property == 'sunset' || clima.property == 'sunrise' " class="valor">{{clima.value | date : 'shortTime'}}</p>
                        <p *ngIf="clima.property == 'timezone' " class="valor">{{clima.value | date: 'z'}}</p>
                    </div>
                    
            </div>

                <div *ngIf="!mostrarInfoCondAd"class="icono flecha">
                    <img src="../assets/img/swipe-down-lightmode.gif" alt="Ampliar">
                </div> 
        </div>
    </div>
</div>