.tiempo-actual{
    display: flex;
    width: 25rem;
    height: 15rem;
    background-position: center center;
    background-size: cover;
}
.info-temp{
    display: flex;
}
.info-temp p{
    text-shadow: 1px 1px 2px black;
}
.temp-actual{
    font-size: 45px;
    font-weight: 900;
}
.clima-por-horas{
    position: relative;
    overflow: hidden;
    background-color: red;
    width: 50rem;
    height: 10rem;
}
.clima-por-horas img{
    width: 100%;
}
.clima-por-horas p{
    position: absolute;
    font-size: 15rem;
}
.clima-por-dias{
    background-color: yellow;
}