<div *ngIf="loading" class="load">
  <div class="row justify-content-center">
    <div class="col-1 align-self-center">
      <app-radar-spinner
        [animationDuration]="1000"
        [size]="150"
        [color]="'#51D5EA'"
      ></app-radar-spinner>
    </div>
  </div>
</div>

<div *ngIf="!loading" class="container" id="contenedorTodo">
  <ul
    class="nav nav-pills mb-3 justify-content-center"
    id="pills-tab"
    role="tablist"
  >
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="pills-home-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-home"
        type="button"
        role="tab"
        aria-controls="pills-home"
        aria-selected="true"
        id="btn-salud"
      >
        {{ Constants.news.health }}
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="pills-profile-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-profile"
        type="button"
        role="tab"
        aria-controls="pills-profile"
        aria-selected="false"
      >
      {{ Constants.news.tecnology }}
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="pills-contact-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-contact"
        type="button"
        role="tab"
        aria-controls="pills-contact"
        aria-selected="false"
      >
      {{ Constants.news.science }}
      </button>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <!-- noticias salud -->
    <div
      class="tab-pane fade show active"
      id="pills-home"
      role="tabpanel"
      aria-labelledby="pills-home-tab"
    >
      <div class="contenedor-noticias">
        <!-- noticia -->
        <div *ngFor="let noticia of healthNews.data; let i = index">
          <div
            *ngIf="i < 11"
            class="noticia shadow"
            style="border-color: #55e94a"
          >
            <div class="imagen-noticia" [style]="noticia.image | noImg"></div>
            <div class="texto-noticia">
              <a
                href="{{ noticia.url }}"
                target="_blank"
                class="titulo-noticia"
                id="titulo-salud"
                >{{ noticia.title }}</a
              >
              <p>{{ noticia.description }}</p>
              <p class="fuente"><span>{{ Constants.news.source }}:</span> {{ noticia.source }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- noticias tecnología -->
    <div
      class="tab-pane fade"
      id="pills-profile"
      role="tabpanel"
      aria-labelledby="pills-profile-tab"
    >
      <!-- contenedor noticias -->
      <div class="contenedor-noticias">
        <!-- noticia -->
        <div *ngFor="let noticia of techNews.data; let i = index">
          <div
            *ngIf="i < 11"
            class="noticia shadow"
            style="border-color: #2a93d5"
          >
            <div class="imagen-noticia" [style]="noticia.image | noImg"></div>
            <div class="texto-noticia">
              <a
                href="{{ noticia.url }}"
                target="_blank"
                class="titulo-noticia"
                id="titulo-tech"
                >{{ noticia.title }}</a
              >
              <p>{{ noticia.description }}</p>
              <p class="fuente"><span>{{ Constants.news.source }}:</span> {{ noticia.source }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- noticias ciencia -->
    <div
      class="tab-pane fade"
      id="pills-contact"
      role="tabpanel"
      aria-labelledby="pills-contact-tab"
    >
      <!-- contenedor noticias -->
      <div class="contenedor-noticias">
        <!-- noticia -->
        <div *ngFor="let noticia of scienceNews.data; let i = index">
          <div
            *ngIf="i < 11"
            class="noticia shadow"
            style="border-color: #7bd5f5"
          >
            <div class="imagen-noticia" [style]="noticia.image | noImg"></div>
            <div class="texto-noticia">
              <a
                href="{{ noticia.url }}"
                target="_blank"
                class="titulo-noticia"
                id="titulo-sc"
                >{{ noticia.title | noData }}</a
              >
              <p>{{ noticia.description | noData }}</p>
              <p class="fuente">
                <span>{{ Constants.news.source }}:</span> {{ noticia.source | noData }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fluid-container justify-content-center" id="top">
  </div>
</div>
