<div *ngIf="loading" class="load">
  <div class="row justify-content-center">
    <div class="col-1 align-self-center">
      <app-radar-spinner
        [animationDuration]="1000"
        [size]="150"
        [color]="'#51D5EA'"
      ></app-radar-spinner>
    </div>
  </div>
</div>

<!-- <p>
  <ngb-alert [type]="types[typeN].type" [animation]="true" (closed)="close(alerts)">{{ alerts[messageN].message }}</ngb-alert>
</p>
<p>
  <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
</p> comprobarSesionIniciada()-->

<!-- <p *ngIf="comprobarSesionIniciada()">
  <ngb-alert [type]="TYPES[typeN]" [dismissible]="true" [animation]="true">
    <strong>¡Bienvenido!</strong>
    <p>Sabías que... {{ ALERTS[alertsN] }}</p>
  </ngb-alert>
</p> -->

<!-- tiempo actual -->
<div *ngIf="!loading">
  <div
    class="tiempo-actual shadow"
    style="background-image: url('../assets/img/{{ dayImage }}.jpg')"
  >
    <div class="icono-temp">
      <img src="../assets/icons/{{ weather.weather[0].description | nightIcon}}.png" alt="{{weather.weather[0].description}}" />
    </div>
    <p class="temp-actual" style="color: {{ text_color }};">
      {{ weather.main.temp | round }}°
    </p>
    <p class="ciudad-actual" style="color: {{ text_color }};">
      {{ weather.name }}, {{ countrySelected.name }}
    </p>
  </div>

  <div class="container pronosticos-dash">
    <!-- clima por horas -->
    <div class="contenedor-medio shadow">
      <h3>{{ Constants.dashboard.fewHours }}</h3>
      <div class="por-columna">
        <div class="columna">
          <img
            src="../assets/icons/{{
              weather3.list[0].weather[0].description
            }}.png"
            alt="{{weather3.list[0].weather[0].description}}"
          />
          <p>{{ weather3.list[0].dt_txt | date: "shortTime" }}</p>
        </div>
        <div class="columna">
          <img
            src="../assets/icons/{{
              weather3.list[1].weather[0].description
            }}.png"
            alt="{{weather3.list[1].weather[0].description}}"
          />
          <p>{{ weather3.list[1].dt_txt | date: "shortTime" }}</p>
        </div>
        <div class="columna">
          <img
            src="../assets/icons/{{
              weather3.list[2].weather[0].description
            }}.png"
            alt="{{weather3.list[2].weather[0].description}}"
          />
          <p>{{ weather3.list[2].dt_txt | date: "shortTime" }}</p>
        </div>
      </div>
    </div>

    <!-- clima por días -->
    <div class="contenedor-medio shadow">
      <h3>{{ Constants.dashboard.nextDays }}</h3>
      <div class="por-columna">
        <div class="columna"> 
          <img src="../assets/icons/{{weather5.list[1].weather[0].description}}.png" alt="{{weather5.list[1].weather[0].description}}" />
          <p class="dia">{{ weather5.list[1].day | language:'days':'weather'}}</p>
        </div>
        <div class="columna">
          <img src="../assets/icons/{{weather5.list[2].weather[0].description}}.png" alt="{{weather5.list[2].weather[0].description}}" />
          <p class="dia">{{ weather5.list[2].day | language:'days':'weather'}}</p>
        </div>
        <div class="columna">
          <img src="../assets/icons/{{weather5.list[3].weather[0].description}}.png" alt="{{weather5.list[3].weather[0].description}}" />
          <p class="dia">{{ weather5.list[3].day | language:'days':'weather'}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- info covid -->
  <div class="container">
    <!-- info covid -->
    <div
      class="imagen-covid shadow"
      style="background-image: url('../assets/img/covid.png')"
    >
      <p class="titulo-covid" style="color: white">
        {{ Constants.dashboard.infoCovid }} {{ countrySelected.name  }}
      </p>
    </div>

    <div class="container">
      <div class="col-lg">
        <!-- inicio info-covid -->

        <div class="row">
          <!-- inicio contenedor cuadros info -->
          <div class="info-covid">
            <div class="col cuadro-info" id="casos-hoy">
              <h5>{{ Constants.dashboard.todayCases }}</h5>
              <p class="cifra">{{ todayCases.data | number | noData }}</p>
            </div>
            <div class="col cuadro-info" id="casos-activos">
              <h5>{{ Constants.dashboard.activeCases }}</h5>
              <p class="cifra">{{ activeCases.data | number | noData }}</p>
            </div>
            <div class="col cuadro-info" id="def-hoy">
              <h5>{{ Constants.dashboard.deathsToday }}</h5>
              <p class="cifra">{{ todayDeaths.data | number | noData }}</p>
            </div>
          </div>
        </div>
        <!-- fin contenedor cuadros info -->
      </div>
      <!-- fin info-covid -->
    </div>

    <!-- Sección de noticias -->
    <div
      class="imagen-covid shadow"
      style="background-image: url('../assets/img/news.png')"
    >
      <p class="titulo-covid" style="color: white">{{ Constants.dashboard.newsToday }}</p>
    </div>

    <!-- noticia1 -->
    <div class="noticia shadow" style="border-color: #55e94a">
      <div
        class="imagen-noticia"
        [style]="healthNews.data[0].image | noImg"
      ></div>
      <div class="texto-noticia">
        <a
          href="{{ healthNews.data[0].url }}"
          target="_blank"
          class="titulo-noticia"
          id="titulo-salud"
          >{{ healthNews.data[0].title }}</a
        >
        <p>{{ healthNews.data[0].description }}</p>
        <p class="fuente">
          <span>{{ Constants.dashboard.source }}:</span> {{ healthNews.data[0].source }}
        </p>
        <p class="fecha">{{Constants.news.date}}{{healthNews.data[0].published_at | date : 'mediumDate'}}</p>
      </div>
    </div>

    <!-- noticia2 -->
    <div class="noticia shadow" style="border-color: #7bd5f5">
      <div
        class="imagen-noticia"
        [style]="scienceNews.data[0].image | noImg"
      ></div>
      <div class="texto-noticia">
        <a
          href="{{ scienceNews.data[0].url }}"
          target="_blank"
          class="titulo-noticia"
          id="titulo-sc"
          >{{ scienceNews.data[0].title }}</a
        >
        <p>{{ scienceNews.data[0].description }}</p>
        <p class="fuente">
          <span>{{ Constants.dashboard.source }}:</span> {{ scienceNews.data[0].source }}
        </p>
        <p class="fecha">{{Constants.news.date}}{{scienceNews.data[0].published_at | date : 'mediumDate'}}</p>
      </div>
    </div>

    <!-- noticia3 -->
    <div class="noticia shadow" style="border-color: #2a93d5">
      <div
        class="imagen-noticia"
        [style]="techNews.data[0].image | noImg"
      ></div>
      <div class="texto-noticia">
        <a
          href="{{ techNews.data[0].url }}"
          target="_blank"
          class="titulo-noticia"
          id="titulo-tech"
          >{{ techNews.data[0].title }}</a
        >
        <p>{{ techNews.data[0].description }}</p>
        <p class="fuente"><span>{{ Constants.dashboard.source }}:</span> {{ techNews.data[0].source }}</p>
        <p class="fecha">{{Constants.news.date}}{{techNews.data[0].published_at | date : 'mediumDate'}}</p>
      </div>
    </div>
  </div>
</div>
