<!-- <ngx-charts-line-chart
  [view]="view"
  [scheme]="colorScheme"
  [legend]="legend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [timeline]="timeline"
  [results]="multi"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
>
</ngx-charts-line-chart> -->

<div class="card">
  <div class="card-body">
    <h3>Grafica</h3>
    <div>
      <div>
        <div style="display: block">
          <canvas baseChart
                  [data]="data"
                  [labels]="labels"
                  [colors]="colors"
                  chartType="doughnut">
          </canvas>
      </div>
      </div>
    </div>
  </div>
</div>
