<footer>
    <div class="en-medio">
        <div class="logo">
            <img id="logo-white" src="../assets/img/logo-white.png" alt="">
        </div>
        <p>2021, Derechos reservados</p>
    </div>
    <div class="redes-sociales">
        <div class="iconos">
            <a href="https://facebook.com">
                <img src="" alt="Fb">
            </a>
            <a href="https://instagram.com">
                <img src="" alt="Ins">
            </a>
            <a href="https://twitter.com">
                <img src="" alt="Tw">
            </a>
        </div>
        <p>¡Visita nuestras redes sociales!</p>
    </div>
</footer>